<!DOCTYPE html>
<html lang="en">
    {% include 'header.html' %}
    <body>
        <!-- Navigation-->
        {% include 'navigation_errorpage.html' %}
        <!-- Error page -->
        <section>
            <div style="height: 200px !important;"></div>
            <div class="card mb-3" style="max-width: 1200px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="/static/images/IMG_6461.jpg" class="img-fluid rounded-start" alt="lake with bridge">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title"><span class="text-danger">404</span> Page not found</h2>
                        <h4 class="card-text">Sorry, something went wrong.</h4>
                    </div>
                </div>
                </div>
        </div>
        </section>
    </body>
</html>
