<!-- Bootstrap core JS-->
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/static/bootstrap/bootstrap_theme/js/scripts.js"></script>

<!-- Load d3.js -->
<script src="/static/d3/d3_v7.js"></script> 
<!-- Load data tables jquery js -->
<script src="/static/data_tables/jquery.dataTables.min.js"></script>
<!-- Load data tables js -->
<script src="/static/data_tables/datatables.min.js"></script>
<!-- make data tables js responsive -->
<script src="/static/data_tables/dataTables.responsive.min.js"></script>
<script src="/static/data_tables/responsive.bootstrap5.min.js"></script>